body {
    background-color: #272727;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
  }

header {
    text-align: center;
    margin-bottom: 20px;
}

.main-title {
    font-size: 3rem;
    color: #00FF00;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

input[type=text], select {
  width: 50%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #000000;
  padding: 20px;
}

.window {
  border-radius: 3px;
  background: #222;
  color: #fff;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 70%;

  &:before {
    content: ' ';
    display: block;
    height: 48px;
    background: #C6C6C6;
  }

  &:after {
    content: '. . .';
    position: absolute;
    left: 12px;
    right: 0;
    top: -3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 96px;
    color: #fff;
    line-height: 0;
    letter-spacing: -12px;
  }
}

#output {
  height: 600px;
  overflow-y: scroll;
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
}

.terminal {
  margin: 20px;
  font-family: monospace;
  font-size: 16px;
  color: #22da26;

  .command {
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    animation: write-command 5s both;

    &:before {
      content: '$ ';
      color: #22da26;
    }
  }

  .log {
    white-space: nowrap;
    overflow: hidden;
    animation: write-log 5s both;
  }

  p:nth-child(2) {
    animation-delay: 2s;
  }

  p:nth-child(3) {
    animation-delay: 8s;
  }
}

@keyframes write-command {
  0% {
    width: 0%;
  }


  100% {
    width: 100%;
  }
}


@keyframes write-log {
  0% {
    height: 0;
  }

  16% {
    height: 0;
  }

  17% {
    height: 18px;
  }

  33% {
    height: 18px;
  }

  34% {
    height: 37px;
  }

  51% {
    height: 37px;
  }

  52% {
    height: 55px;
  }

  69% {
    height: 55px;
  }

  70% {
    height: 74px;
  }

  87% {
    height: 74px;
  }

  88% {
    height: 92px;
  }

  88% {
    height: 92px;
  }

  99% {
    height: 92px;
  }

  100% {
    height: 110px;
  }
}
