<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hcint</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <img src="https://img.icons8.com/ios-filled/50/00FF00/cat.png" alt="Cat Icon" class="icon">
        <h1 class="main-title">
            hcInt
        </h1>
    </header>
    <div>
        <h1>Hash Details / Upload</h1>
        <form action="/submit" method="post">
            <label for="hash_value">hash value:</label>
            <input type="text" id="hash_value" name="hash_value">
            <br>
            <label for="hash_type">hash type:</label>
            <select id="hash_type" name="hash_type">
                <option value="MD5">MD5</option>
                <option value="NTLMV1">NTLMv1</option>
                <option value="NTLMV1NT">NTLMv1_NT</option>
                <option value="NTLMV2">NTLMv2</option>
                <option value="NTLMV2NT">NTLMv2_NT</option>
            </select>
            <button type="submit">CRACK HASH</button>
        </form>
    </div>
    <br>
    <div>
        <h2>Hashcat Info</h2>
        <pre><strong>hashcat version:</strong> {{ hc_version }}</pre>
        {% if hash_value and hash_type %}
            <pre><strong>Hash Value:</strong> {{ hash_value }}</pre>
            <pre><strong>Hash Type Code:</strong> {{ hash_type }}</pre>
        {% endif %}
    </div>
    {% if route_hit %}
	<br>
	<div id="output"></div>
	<script>
		var eventSource = new EventSource('/stream');
		eventSource.onmessage = function(event) {
			document.getElementById('output').innerHTML += event.data + "<br/>";
			var outputDiv = document.getElementById('output');
			outputDiv.scrollTop = outputDiv.scrollHeight;
		};
		eventSource.onerror = function(error) {
			console.error('Error:', error);
			eventSource.close();
		};
	</script>
    {% endif %}
</body>
</html>
